#spisak-bastina {
  width: 100%;
  display: grid;
  grid-auto-rows: 1fr auto auto auto auto auto auto 1fr;
  grid-template-areas:
    "............."
    "   naslov1   "
    "   spisak    "
    "   naslov2   "
    "   predlozi  "
    "   naslov3   "
    "nematerijalni"
    ".............";
  min-height: 100vh;
  align-items: center;
  padding: 16px 0;
  padding-top: 60px;
}

/* prettier-ignore */
html {
  .naslov1           { grid-area: naslov1;  }
  .naslov2           { grid-area: naslov2;  }
  .naslov3           { grid-area: naslov3;  }
  #spisak            { grid-area: spisak;   }
  #predlozeni-spisak { grid-area: predlozi; }
  #nematerijalni-spisak { grid-area: nematerijalni; }
}

#spisak,
#predlozeni-spisak,
#nematerijalni-spisak {
  position: relative;

  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-stop: always;
  scroll-snap-type: x mandatory;
  scroll-padding: 10vw;
  padding: 0 10px;

  @include scrollbar;
}

.opened .bastina,
.opened .bastina * {
  pointer-events: none;
}

.bastina {
  scroll-snap-stop: always;
  flex: none;
  display: inline-block;
  position: relative;
  scroll-snap-align: start;
  margin: 0 5px;
  max-width: 80%;
  width: 400px;
  height: 300px;
  transition: transform 0.2s ease-in-out, opacity 0.3s ease-in;
  cursor: pointer;

  img {
    border-radius: 12px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h3 {
    position: absolute;
    left: 8px;
    bottom: 8px;
    color: white;
    font-size: 1.4rem;
    user-select: none;
  }
  &::before {
    content: "";
    border-radius: 12px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 0.013) 09.3%,
      rgba(0, 0, 0, 0.049) 17.5%,
      rgba(0, 0, 0, 0.104) 24.6%,
      rgba(0, 0, 0, 0.175) 30.9%,
      rgba(0, 0, 0, 0.259) 36.6%,
      rgba(0, 0, 0, 0.352) 41.8%,
      rgba(0, 0, 0, 0.45) 46.8%,
      rgba(0, 0, 0, 0.55) 51.7%,
      rgba(0, 0, 0, 0.648) 56.7%,
      rgba(0, 0, 0, 0.741) 62.1%,
      rgba(0, 0, 0, 0.825) 67.9%,
      rgba(0, 0, 0, 0.896) 74.4%,
      rgba(0, 0, 0, 0.951) 81.8%,
      rgba(0, 0, 0, 0.987) 90.3%,
      #000 100%
    );
  }
  &:hover {
    transform: scale(0.95);
  }
}

#bg-element {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
  transition: background-color 0.2s;
  z-index: 1;
  .about {
    position: fixed;
    display: grid;
    grid-template-rows: auto 1fr;
    max-width: 80vw;
    height: calc(60% - 3 * 16px);
    width: 800px;
    transform: translateX(-50%) translateY(300px);
    top: calc(40% + 2 * 16px);
    bottom: 16px;
    background-color: white;
    opacity: 0;
    left: 50%;
    transition: all 0.2s;
    transition-delay: 0;
    border-radius: 12px;
    padding: 32px;
    h2 {
      margin-bottom: 8px;
    }
    div {
      overflow-y: auto;
      p {
        text-indent: 30px;
      }
    }
  }

  &.focus {
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: initial;
    z-index: 100;

    .about {
      transition-delay: 0.2s;
      opacity: 1;
      transform: translateX(-50%) translateY(0);
    }
  }
}

.full-view {
  position: fixed;
  border-radius: 12px;
  z-index: 1000;
  width: var(--width);
  height: var(--height);
  left: var(--left);
  top: var(--top);
  opacity: 0;
  transition: all 0.5s;
  object-fit: cover;
}

.no-anim {
  transition: all 0s;
  transition-delay: 0.5s;
}

.scale-up {
  position: fixed;
  border-radius: 12px;
  z-index: 1000;
  opacity: 1;
  max-width: 80vw;
  width: 800px;
  height: 40%;
  transform: translateX(-50%);
  top: 16px;
  left: 50%;
  transition: transform 0.2s, opacity 0.2s;
  overflow: hidden;
  &.no-anim {
    transition: none;
  }
}

.slideshow {
  position: absolute;
  transform: scale(1.1);
  height: 100%;
  width: 100%;

  &_left {
    opacity: 0;
    transform: translateX(-150%);
    z-index: 0;
  }

  &_right {
    opacity: 0;
    transform: translateX(50%);
    transition: transform 0.2s, opacity 0.2s;
    z-index: 0;
  }
}

#bg-element {
  .levo,
  .desno {
    position: fixed;
    top: calc(16px + 20vh);
    transform: translateY(-50%);
    opacity: 0;
    z-index: 10000;
    cursor: pointer;

    img {
      width: 32px;
      height: 32px;
      background-color: #000;
    }
  }

  .levo {
    left: 20px;
  }
  .desno {
    right: 20px;
  }

  &.focus :is(.levo, .desno) {
    opacity: 1;
  }
}
