.nav {
  position: relative;
  z-index: 2;
  background-color: darken($color-primary, 5%);
  display: grid;
  place-content: center;
  color: white;
}

.logo {
  height: 50px;
}

nav {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  position: sticky;
  width: 100%;
  top: 0;
  background: $color-primary;
  height: 50px;
  ul {
    padding: 0 100px;
    margin: 0;
    display: flex;
    list-style: none;
    li {
      height: 50px;
      display: flex;
      &:first-child {
        flex-grow: 1;
        a:focus,
        a:hover {
          background-color: $color-primary;
          outline: none;
        }
      }
      &:not(:first-child) a {
        flex-grow: 1;
      }
      a {
        height: 50px;
        padding: 0 15px;
        font-size: 16px;
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
        &:hover,
        &:focus {
          background-color: $color-primary-alt;
          outline: none;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  #burger {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10vw;
    top: 10px;
    cursor: pointer;
    &::before,
    &::after,
    div {
      content: "";
      position: absolute;
      width: 30px;
      height: 4px;
      background-color: white;
      transition: transform 0.1s;
    }

    // prettier-ignore
    & {
      &::before { top: 4px; }
      &::after { bottom: 4px; }
      div { top: 13px; }
    }
  }

  nav {
    justify-content: initial;
    ul {
      padding: 0 10vw;
      clip-path: inset(0 0 200px 0);
      transition: clip-path 0.2s;
      flex-direction: column;
      background: $color-primary;
    }

    &.active {
      // prettier-ignore
      #burger {
        &::before { transform: translateY(8px); }
        &::after { transform: translateY(-8px); }
      }
      ul {
        clip-path: inset(0);
      }
    }
  }
}

#bg-element.menu {
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: initial;
}
