.sadrzaj {
  margin-top: 100vh;
  & > div {
    min-height: 100vh;
    padding-top: 70px;
    h2 {
      text-align: center;
      padding: 20px;
    }
  }
}

#kulturna-dobra {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p {
    text-indent: 30px;
    max-width: 800px;
  }
}
